<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="/"/>
        <title>Tower Defense</title>
        <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="/style.css"/>
        <script src="/lib/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="/lodash/index.js"></script>
        <script src="/angular/angular.js"></script>
        <script src="pixi.js/bin/pixi.js"></script>
        <script src="/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/ng-tags-input/build/ng-tags-input.js"></script>
        <script src="/angular-bootstrap/ui-bootstrap.js"></script>
        <script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="/js-data/dist/js-data.js"></script>
        <script src="/js-data-angular/dist/js-data-angular.js"></script>
        <script src="/socket.io-client/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>
        <script src="/main.js"></script>

    </head>
    <body ng-app = "TowerDefense">
        <script src="main.js"></script>
        <side-bar id = "sideBar"></side-bar>
<!--         <div ui-view>
            <start-screen></start-screen>
        </div> -->
    </body>
</html>
