<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/"/>
    <title>Tower Defense</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <script src="/lib/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="pixi.js/bin/pixi.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/angular-ui-ace/ui-ace.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/main.js"></script>

</head>
<body ng-app="TowerDefense">
<!--<div id="editor-container">-->
    <!--<div id="editor">-->
        <!--function foo(items) {-->
        <!--var x = "All this is syntax highlighted";-->
        <!--return x;-->
        <!--}-->
    <!--</div>-->
    <!--<button class="btn btn-info">Save Code</button>-->
<!--</div>-->
<div id="editor-container">
    <editor></editor>
</div>

<!--<script>-->
    <!--var editor = ace.edit("editor");-->
    <!--editor.setTheme("ace/theme/monokai");-->
    <!--editor.getSession().setMode("ace/mode/javascript");-->
<!--</script>-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- <editor></editor> -->
<div ui-view>
    <start-screen></start-screen>
</div>
</body>
</html>
