<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Fullstack Academy Generated Application</title>
    <style>
      body {
          margin: 0;
          padding: 0;
          background-color: #000000;
          width: 100%
      }
      #editor {
        position: fixed;
        top: 0;
        right: 0%;
        bottom: 0;
        width: 21%;
      }
    </style>

    <!-- front-end -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src = "/lib/pixi/pixi.min.js"></script>
    <script src="/lib/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>


</head>
  <body>

    <div id="editor"></div>
    <script>
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/monokai");
      editor.getSession().setMode("ace/mode/javascript");
    </script>


     <!-- game -->
    <script src = "js/game/game.js"></script>
  </body>
</html>
