.sideBar {
  width: 220px;
  float: right;
  padding-left: 50px;
  height: 522px;
  border-bottom:0px;
}

.buttonText {
	font-size: .7em;
}

.panel-body {
  padding-bottom: 0px;
}

.no-bg{
  background-color:none;
  background:none;
  color:white;

}

.buttons{
	margin-top:57px;
}


