#terminal{
  position: fixed;
  top: 520px;
  width: 970px;
}

#welcome{
  padding-bottom: 12px;
}

#save{
  padding-bottom: 12px;
}

#runtimePrompt{
  color: red !important;
}


.terminal-heading{
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;
}
.terminal-body{
  background-color: black;
  color: white;
  min-height: 200px;
  width: 100%;
}
