#towerBottomBar{ 
   position: fixed; 
   top: 480px;

   width: 120px;
   height: 120px;  


}

.antipadup{
  position:relative;
  top:-6px;
}

.padup{
  padding-top:6px;
   background:#222 !important;

}
.towerBottom{
display:block;
  position:relative;
  left:801px;
     height: 120px;  
     top:-220px;
width:153px;
  background:#222 !important;
  text-align:center;
}

.modal-button{
	font-weight:300;
	font-size:30px;
}

.tower-detail{
  width:80px;
  height:80px;

}

.full{

  width:120px;
}