#towerBottomBar{ 
   position: fixed; 
   top: 520px;
   width: 920px;
   height: 400px;  

   width: 970px;
     text-align:center;


}

.tower-detail{
  width:60px;
  height:60px;
     margin:0 auto;

}