#towerBottomBar{ 
   position: fixed; 
   top: 480px;
   width: 920px;
   height: 80px;  

   width: 970px;
     text-align:center;

     background-color:#222;

}

.modal-button{
	font-weight:300;
	font-size:30px;
}

.tower-detail{
  width:60px;
  height:60px;
     margin:0 auto;

}