* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Jura', sans-serif;
    background: url(./images/bosswhite.png) center;
    background-repeat: no-repeat;
    background-color: #000000;
    background-size:cover;
    background-position: center 70px;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  100% { opacity: 0.0; }
}

img {
  width: 100%;
  height: 100%;
}

#mainContainer {
  margin: 0 auto;
  width: 1000px;
}

canvas{
	position:fixed;
  float: left;
}

h1 {

}

h3 {
  color: #f8f8f8;
}

@import 'directives/main';
@import 'edit/main';
@import 'startScreen/main';



