* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  width: 100%
}

img {
  width: 100%;
  height: 100%;
}

#mainContainer {
  margin: 0 auto;
  width: 1000px;
}

#mainContainerCreateMap {
  margin: 0 auto;
  width: 1000px;
}

canvas{
	position:fixed;
  float: left;
}

h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 5em;
    color: #f8f8f8;
}

@import 'directives/main';
@import 'edit/main';
@import 'startScreen/main';



